@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.screen-transition-enter {
  animation: zoomIn 0.5s ease forwards;
}

.screen-transition-exit {
  animation: zoomOut 0.5s ease forwards;
}